{% extends "layout.html" %}

{% block content %}
<h1>Configuration saved!</h1>
<p> You will be redirected to the homepage shortly...</p>

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Note:</strong> Changes were saved. The streaming server is restarting.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function() {
     let button = document.getElementById('submitFormButton');
     button.disabled = true; //disable button
        button.classList.add('disabled');


    setTimeout(function () {
        window.location.href = '/'; // JavaScript-based redirect
    }, 20000); // 10000 Millisekunden = 20 Sekunden

    });


</script>
{% endblock %}
